.project {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
  }

.section gallery {
    color: black;
}
.gallery__image {
    max-width: 300px;
  }

  /*#gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-template-rows: masonry;
    align-items: center;
    text-align: center;
  }*/