.project {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
  }

.section gallery {
    color: black;
}
.gallery__image {
    max-width: 300px;
  }
