.project {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
  }

.section gallery {
    color: black;
}
.gallery__image {
    max-width: 300px;
  }

#gallery {
  background-color: none;
}

.styles_wrapper__1kG3C {
  background: none !important;
  min-height: inherit !important;
}

.styles_gridItem__nPXhF figcaption {
  background: #444 !important;
}